<form method="post" action="{{ path('assets_delete', {'id': asset.id}) }}" onsubmit="return confirm('Are you sure you want to delete {{ asset.name }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ asset.id) }}">
    <button class="btn">Delete</button>
</form>
