{% extends 'base.html.twig' %}

{% block title %}New Assets{% endblock %}

{% block body %}
    <h1>Create new Assets</h1>

    {{ include('assets/_form.html.twig') }}

    <a href="{{ path('assets_index') }}">back to list</a>
{% endblock %}
