<nav class="navbar">
	<div class='brand-title'><a href='{{ path('home') }}'>Deceneus Maan</a></div>
	<a href='#' class='toggle-btn' id='toggle-btn'>
		<span class='bar'></span>
		<span class='bar'></span>
		<span class='bar'></span>
	</a>
	<div class='navbar-links' id='navbar-links'>
		<ul>
			<li><a href="{{ path('family_index') }}" id='links'>Royal family</a></li>
			<li><a href="{{ path('booking_index') }}" id='links'>Visit</a></li>
			<li><a href="{{ path('assets_index') }}" id='links'>Royal assets</a></li>
		</ul>
	</div>
</nav>