<nav class="navbar">
  <div class='brand-title'>Brand Name</div>
  <a href='#' class='toggle-btn' id='toggle-btn'>
    <span class='bar'></span>
    <span class='bar'></span>
    <span class='bar'></span>
  </a>
  <div class='navbar-links' id='navbar-links'>
    <ul>
      <li><a href="#" id='links'>Famille royal</a></li>
      <li><a href="#" id='links'>Visiter</a></li>
      <li><a href="#" id='links'>Biens royaux</a></li>
    </ul>
  </div>
</nav>